* {
  margin: 0px;
  padding: 0px;
  max-width: 100%;
}

body {
  font-family: "DM Sans", sans-serif;
  background-color: rgb(20, 20, 20);
  color: rgb(245, 245, 239);
}
/* Global */

h1 {
  font-size: 4rem;
  line-height: 60px;
  font-weight: 700;
}

h2,
h3,
h4,
h5,
h6 {
  font-size: 1.8rem;
  line-height: 20px;
}
ul {
  font-size: 1rem;
}

p {
  font-size: 12px;
}

a {
  color: rgba(255, 255, 255, 0.8);
  text-decoration: none;
}

@media screen and (max-width: 660px) {
  p {
    font-size: 14px;
  }
}

button {
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  color: aqua;
  border: solid 1px rgba(0, 255, 255, 0.8);
  font-size: max(10px, 0.8rem);
  font-weight: 600;
  box-shadow: 1px 1px 80px rgba(0, 255, 255, 0.6);
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0px;
  transition: ease-in-out;
  transition-duration: 0.25s;
}

button a {
  padding: 1.5vw 2vw;
  border-radius: 2px;
}

#glow:hover {
  box-shadow: 0px 0px 40px aqua;
  border: solid 2px aqua;
}

#glow:active {
  opacity: 0.5;
  transition-delay: 25ms;
}

.nav-menu li:hover {
  color: white;
  text-shadow: 1px 1px 10px white;
  font-weight: 600;
  transition-duration: 0.4s;
}

/* ===========================Animations ================= */

.fade-in {
  opacity: 0;
  transition: opacity 1s ease-in-out;
}

.appear {
  opacity: 1;
  transition: opacity 1s ease-in-out;
}


@keyframes fromTop {
  from {
    filter: blur(10px);
    opacity: 0%;
    transform:translateY(-100%);
  }
}

@keyframes fromRight {
  from {
    opacity:0%;
    filter: blur(40px);
    transform:translate(50%);
  }
}

@keyframes fadeIn {
  from {
    opacity: 0%;
    filter: blur(40px);
  } 
}

/* =========================================== Header ====================================================== */

#header {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
}

.nav-container {
  padding: 3vw 0 3vw 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  height: fit-content;
}

.logo-icon {
  display: grid;
  justify-items: center;
  align-content: center;
  position: absolute;
  left: 2vw;
  padding: 3px;
  height: 3vw;
  width: 3vw;
  border-radius: 100%;
  border: solid 2px rgba(255, 255, 255, 0.5);
  background-image: linear-gradient(
    45deg,
    rgba(0, 255, 255, 0.8),
    rgba(75, 255, 170, 0.8)
  );
}

.logo-icon > p {
  font-size: 3vw;
  font-family: "Monoton", sans-serif;
  color: black;
}
.nav-menu {
  display: flex;
  width: 90%;
  position: absolute;
  right: 0px;
  border-bottom: solid 1px white;
  filter: blur(50%);
  padding: 2vw;
}

.nav-menu,
.mobile-nav {
  align-items: center;
  justify-content: end;
  gap: 2vw;
  list-style: none;
  color: rgb(245, 245, 239, 0.9);
  text-shadow: 0px 0px 40px rgba(0, 255, 255, 0.815);
}

.nav-menu li {
  transition: ease-in-out;
  transition-duration: 0.2s;
}

.mobile-nav {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  height: 9vh;
  width: 100%;
  border: solid 1px rgba(0, 255, 255, 0.5);
  background-color: rgba(25, 25, 25, 0.7);
  border-radius: 5px;
  position: absolute;
  right: -150%;
  top: 1%;
  transition-duration: 0.8s;
  z-index: 100;
}

.nav-button-cont,
.mobile-nav,
.mobile-nav li {
  align-items: center;
  justify-content: center;
}

.mobile-nav li {
  height: 25px;
  display: flex;
  flex-direction: column;
  font-size: 14px;
  margin-left: 25px;
}

.mobile-nav a {
  text-decoration: underline;
  font-size: 16px;
}

.nav-button-cont img {
  display: none;
  position: absolute;
  right: 4vw;
  top: 3vw;
  filter: invert();
  z-index: 1;
  cursor: pointer;
}

#exit-nav {
  display: none;
  position: absolute;
  top: 25%;
  right: 2%;
  filter: invert();
  cursor: pointer;
}

.mobile-nav li:active {
  background-color: rgba(0, 255, 255, 0.6);
  transition-duration: 0.2s;
}

@media screen and (max-width: 660px) {
  .nav-container {
    padding: 25px;
    border-bottom: solid 1px rgba(255, 255, 255, 0.25);
  }
  li {
    font-size: 12px;
  }

  .nav-menu {
    display: none;
  }

  .nav-button-cont img {
    display: flex;
  }
}
/* ========================================== Hero Section ========================================= */

.hero-container {
  margin-top: 8vw;
  width: 100%;
  height: 90vh;
  display: grid;
  grid-template-columns: 60% 40%;
  grid-template-rows: auto;
  align-content: center;
  border-bottom: solid 2px rgba(255, 255, 255, 0.1);
  overflow: hidden;

}

.hero-content {
  padding: 0 5vh;
  display: flex;
  align-items: center;
  justify-content: center;
  animation-name: fromTop;
  animation-duration: 1.5s;
}

.img-container {
  width: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero-img {
  animation-name: fromRight;
  animation-duration: 1.5s;
}

.my-name {
  color: rgba(0, 255, 255);
}

.txt-cont {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.txt-cont > h1 {
  margin-bottom: 10px;
}

.subhead-hero {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  flex-direction: row;
  margin-bottom: 10px;
}

.subhead-hero > p {
  font-size: 1.2rem;
  font-weight: 300;
  flex-grow: 2;
}
.my-name {
  font-size: 1.4rem;
  font-weight: 600;
}

.hero-button {
  border: solid 1px rgb(0, 255, 255);
  background-color: rgba(0, 255, 255, 0.1);
  align-self: right;
  margin-left: 25px;
  box-shadow: 1px 10px 125px rgba(0, 255, 255, 0.8);
  font-size: 0.8rem;
  text-shadow: 1px 1px 3px rgba(255, 255, 255, 0.6);
}

.hero-button a {
  color: rgb(0, 255, 255);
}

@media screen and (max-width: 660px) {
  .txt-cont h1 {
    font-size: 2.5rem;
    line-height: 2rem;
    margin: 10px;
  }
  .subhead-hero,
  .my-name {
    font-size: 1.2rem;
  }
  .subhead-hero p {
    font-size: 0.8rem;
  }
}

@media screen and (max-width: 550px) {
  .hero-container {
    grid-template-columns: 1fr;
    height: 80dvh;
    margin-bottom: 0rem;
    margin-top:60px;
    background-image: url(../images/SVG/SVG-Lineblob.svg);
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: 90%;
    overflow: hidden;
  }

  .hero-content {
    background-color: rgb(20, 20, 20, .4);
    animation: fromTop;
    min-height: 80dvh;
  
  }

  .txt-cont h1 {
    font-size: 2rem;
    line-height: 2rem;
    padding: 0rem;
  }

  .subhead-hero p,
  .my-name {
    font-size: 0.8rem;
    line-height: 1rem;
  }

  .hero-button {
    font-size: 0.5rem;
  }
  .img-cont {
    display: none;
  }
}

/* ========================================================== Projects Section =================================================*/

main {
  margin: 10rem 10%;
}

#projects {
  padding: 8rem 0rem;
  position: relative;
}

.absolute.one {
  top: 0%;
  right: 0%;
} 

.absolute {
  position: absolute;
  z-index: -1;
  filter: blur(60px);
  height: 10vw;
  width: 25vw;
  border-radius: 50rem;
  background-color: rgba(0, 255, 255, 0.3);
  box-shadow: 1px 1px 200px aqua;



}

#projects h2 {
  margin: 2rem 0rem 4rem 0rem;
  font-size: 3.5rem;
  text-shadow: 1px 1px 50px rgba(0, 255, 255, 0.75);
}

.visible {
  display: block;
}

.projects-cont {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  align-items: center;
  justify-content: center;
  
}

.project-carousel  {
  width: 20vw;
  height: 20vw;
  position: relative;
  margin: 0px 30%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.slide {
  width: 100%;
  height: 100%;
  position: absolute;
  inset: 0;
  opacity: 0;
  transition: 400ms opacity ease-in-out;
  transition-delay: 0ms;
}

.slide[data-active] {
  opacity: 1;
  transition-delay: 400ms;
}

.slide >img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: contain;
  object-position: center;
}

.carousel-button {
  position: absolute;
  z-index: 2;
  background-color: rgba(0, 255, 255, 0.8);
  border: none;
  font-size: 2vw;
  bottom: -25%;
  color: rgba(0, 0, 0, .9);
  cursor: pointer;
  box-shadow: none;
  padding: .5rem 1rem;
}

.carousel-button:focus {
  outline: 2px solid white;
}

.carousel-button.prev {
  left:20%;
  margin-right: 5px;
}

.carousel-button.next {
  right: 20%;
  margin-left:5px;

}

.project-carousel >ul {
  margin: 0px;
  padding: 0px;
  list-style: none;
}

#timer {
  filter: invert();
  background-color: rgba(25, 25 25, 0.2);
  border-radius: 15px;
  width: 100%;
  height:100%;
  border: inset 1px rgba(128, 128, 128, 0.1);
  box-shadow: 1px 1px 8px rgba(25, 25, 25, 0.1);
}

[data-project-info] {
  display: none;
  flex-wrap: wrap;
  flex-direction: column;
}

.visible {
  display: flex;
}

.project-title {
  font-size: 2rem;
  font-weight: bold;
  text-shadow: 1px 1px 10px rgba(0, 255, 255, .6);
  animation: showContent;
  animation-duration: 1s;
  padding-bottom: 1rem;
}

.project-txt {
  font-size: .8rem;
  animation: showContent;
  animation-duration: 1.4s;
  width: 100%;
}
[data-project-info] button {
  font-size: .8rem;
  margin: 1rem;
  background-color: aqua;
  border: solid 1px rgba(150, 150, 150, 0.8);
  animation: showContent;
  animation-duration: 1.5s;
  max-width: 8rem;
}

[data-project-info] a {
  color: black;
  text-shadow: 1px 1px 2px white;
  padding: 1rem;
}

@keyframes showContent {
  from {
    opacity: 0;
    filter: blur(20px);
    transform: translateY(50%);
  }
  to {
    opacity: 1;
    filter: blur(0px);
    transform: translateY(0%);
  }
}


 @media screen and (max-width: 800px) { 

  .absolute.one {
    top:30%;
    background-color: rgba(0, 255, 255, 0.5);
  }

  .carousel-button {
    bottom:-30%;
  }
  .carousel-button.prev {
    left: 15%;
 }
 .carousel-button.next {
  right: 15%;
 }

 .project-carousel {
  padding: 0px;
 }

}

@media screen and (max-width: 660px) {


  .project-title {
    font-size: 1rem;
  }

  .project-txt {
    font-size: .7rem;
  }

  [data-project-info] {
    margin-top: 4rem;
    align-items: center;
    justify-content: center;
  }

  [data-project-info] button {
    font-size: .5rem;
  }

  .project-carousel {
    height:150px;
    width: 150px;
    margin: 0px;
  }
}


/* =============================== About Section ============================================*/

#about {
    padding-top: 5rem;
}

.about-top {
  display: flex;
  margin-bottom: 5rem;
  line-height: 1.25rem;
  border-radius: 0.2rem;
  padding: 5vw 5vw 5vw 5vw;
  min-height: 50%;
  box-shadow: 20px 20px 80px rgba(0, 255, 255, 0.21);
  overflow: hidden;
}

.about h3 {
  width: 70%;
  font-size: 3.5rem;
  text-shadow: 1px 1px 50px rgb(0, 255, 255, 0.6);
  line-height: 60px;
  text-align: left;
  margin: 2rem 1rem 4rem 1rem;

}

.portrait-cont {
  margin: 1rem 0rem 1rem 0.2rem;
  height: 15vw;
  width: 15vw;
  float: right;
  display: flex;
  align-items: center;
  justify-content: center;
  animation: fromTop 1s;
}

.portrait-cont img {
  height: 15vw;
  width: 15vw;
  object-fit: cover;
  object-position: 40% 50%;
  border-radius: 50px 125px 75px 100px;
  border: solid 1px rgb(0, 255, 255, 0.8);
  shape-outside: circle();
}

#about-bottom-cont {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  min-height: 10vw;
}

#experince-cont,
#experince-cont h4 {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
  flex-grow: 1;
}

#experince-cont {
  min-height: fit-content;
  border: solid 2px rgba(255, 255, 255, 0.6);
  padding: 2rem;
  margin: 0px;
  margin-bottom: 1rem;
  background-image: radial-gradient(
    farthest-corner at 5vw 5vw,
    rgb(70, 255, 170, 0.8) 0%,
    rgba(0, 255, 255, 0.8) 100%
  );
  color: black;
  border-radius: 5px;
}

#experince-cont h4 {
  border-bottom: solid 1px black;
  padding: 1rem;
  font-size: 2rem;
  text-shadow: 1px 1px 4px black;
  color: white;
  font-weight: 800;
  line-height: 20px;
  text-align: center;
  margin-bottom: 2rem;
}

#experince-cont ul {
  margin: 0px;
}
#experince-cont li {
  margin: 1rem;
}

.bold {
  font-weight: bold;
  text-shadow: 1px 1px 10px rgba(0, 0, 0);
  color: white;
}

.language-cont,
.dev-tool-cont {
  padding: 10%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  background-color: rgba(5, 5, 5, 0);
  border: solid 2px rgba(0, 225, 225, 0.8);
  border-radius: 0.2rem;
  color: white;
}

.language-cont > h5,
.dev-tool-cont > h5 {
  text-align: center;
  width: 100%;
  margin-bottom: 10px;
  padding-bottom: 10px;
  border-bottom: solid 1px rgba(0, 255, 255, 0.8);
  text-shadow: 1px 1px 20px aqua;
  line-height: 30px;
}

.language-cont ul {
  margin: 0px;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 1rem;
}

.language-cont li,
.dev-tool-cont li,
#experince-cont li {
  list-style: none;
  flex-grow: 1;
  font-size: 16px;
  text-shadow: 0px 0px 20px aqua;
}

.language-cont img {
  height: 60px;
  width: 60px;
  filter: invert(100%);
}

.list-cont {
  padding: 5px;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.dev-tool-cont ul {
  margin: 0px;
  padding: 0px;
}

.dev-tool-cont li {
  padding: 5px;
  list-style: circle;
}

@media screen and (max-width: 800px) {
  .about h3 {
    font-size: 2.5rem;
    width: 60%;
  }
  #about-bottom-cont {
    grid-template-columns: 1fr;
  }

  .language-cont p {
    font-size: 14px;
    line-height: 8px;
  }

  .dev-tool-cont li,
  #experince-cont li {
    font-size: 14px;
  }
}

@media screen and (max-width: 550px) {

  .about-top p {
    font-size: 12px;
    line-height: 16px;
  }

  .about-top h2 {
    font-size: 32px;
    line-height: 30px;
  }

  .about h3 {
    font-size: 2rem;
    margin: 2rem 1rem 2rem 0rem;
  }

  #about-bottom-cont img {
    height: 32px;
    width: 32px;
  }

  #experince-cont h4 {
    font-size: 1.8rem;
    padding: 0.5rem;
    font-weight: bold;
  }
}

/* ==============================Contact Form Section=====================================*/

.contact {
  margin-top: 10rem;
  padding: 6rem 4rem;
}

form {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

form h6 {
  width: 100%;
  padding: 0.5rem;
  margin: 0rem 2rem 1rem 2rem;
  text-align: center;
  font-size: 3rem;
  line-height: 60px;
  text-shadow: 1px 1px 15px rgba(0, 255, 255, 0.8);
}

form p {
    margin-bottom: 2rem;
    text-align: center;
}

.form-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 1rem;
  padding: 2rem;
  background-color: rgb(125, 125, 125, 0.1);
  border-radius: 5px;
  box-shadow: 1px 1px 50px rgba(0, 255, 255, 0.1);
}

.first-name,
.last-name,
.phone,
.email,
.txt-area {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1rem;
}

label, form p {
  flex: 100%;
  flex-grow: 1;
  text-shadow: 1px 1px 1px rgb(0, 255, 255, 0.5);
}

.first-name,
.last-name {
  flex: 45%;
}

.phone {
  flex: 25%;
}
.email {
  flex: 60%;
}
.first-name input,
.last-name input,
.phone input,
.email input,
.txt-area textarea {
  flex-grow: 1;
  padding: 0.5rem;
  background-color: rgba(150, 150, 150, 0.1);
  border-radius: 5px;
  border: solid 1px rgba(0, 255, 255, 0.2);
  box-shadow: 1px 1px 10px rgba(0, 255, 255, 0.1);
  color: white;
}

.txt-area {
  min-width: 100%;
  flex-grow: 1;
}

.submit-button {
  font-size: 1rem;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 20px;
  min-height: 4vw;
  min-width: 9vw;
  border: solid 1px rgba(0, 255, 255, 0.8);
  box-shadow: 1px 1px 80px rgb(0, 255, 255, 0.5);
  font-family: "DM Sans", sans-serif;
  font-weight: 600;
  color: aqua;
  text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.5);
  cursor: pointer;
  padding: 0.8rem;
  transition: ease-in-out;
  transition-duration: 0.4s;
}

@media screen and (max-width: 650px) {
  .contact {
    margin: 8rem 0px 5rem 0px;
    padding: 0px;
  }

  form h6 {
    font-size: 1.8rem;
    line-height: 30px;
    margin-bottom: 1rem;
  }

  label,
  input,
  .submit-button {
    font-size: 12px;
  }
}

/* ======================================================== Footer Section =========================================================== */

footer {
  margin: 0px;
  max-width: 100%;
  padding: 2rem 10% 2rem 10%;
  border-top: solid 1px rgba(0, 255, 255, 0.25);
  text-align: center;
}

footer ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  gap: 1rem;
  margin-bottom: 1rem;
}

footer li {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
  text-shadow: 1px 1px 40px aqua;
}

footer p {
  font-size: 16px;
}

footer img {
  height: 4vw;
  width: 4vw;
  filter: invert();
}

.copywrite {
  font-size: 8px;
  position: absolute;
  left: 10px;
}

#email-icon,
#gmail-address {
  cursor: pointer;
}

#Gmail,
#gmail-address {
  opacity: 100%;
}

#gmail-address {
  display: none;
  cursor: pointer;
}

@media screen and (max-width: 550px) {
  footer li {
    font-size: 12px;
  }
}

